<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Harvest</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/img/logo-white-fav.png">
    <style>
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number]{
            -moz-appearance: textfield;
        }
        select {
            appearance: none;
        }
        .button-style {
            background-color:darkcyan;
            color:white;
            height:3em;
            width: 10em;
            border: 1px solid white;
            font-size: 17px;
        }

        .button-style:hover {
            background-color: white;
            color: darkcyan;
            border: 1px solid darkcyan;
            transition-duration: 0.4s;
            
        }
        @keyframes rightFade {
            from{right:-300px;opacity:0} 
            to{right:0;opacity:1}
        }

        table {
	--accent-color: #362f4b;
	--text-color: slategray;
	--bgColorDarker: #ececec;
	--bgColorLighter: #fcfcfc;
	--insideBorderColor: lightgray;
	width: 100%;
	border: 1px solid var(--accent-color);
	border-collapse: collapse;
	color: var(--text-color);
	table-layout: fixed;
}

table caption {
	margin: 1rem 0;
	color: slategray;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 0.055rem;
	text-align: center;
}

table th tr {
	color: whitesmoke;
	background-color: var(--accent-color);
	font-size: 1rem;
}

table tbody tr {
	border: 1px solid var(--insideBorderColor);
	background-color: var(--bgColorDarker);
}

table tbody tr:nth-child(odd) {
	background-color: var(--bgColorLighter);
}

table th {
	letter-spacing: 0.075rem;
}

table th,
table td {
	padding: 0.75rem 1rem;
	font-weight: normal;
	text-align: left;
}

@media screen and (max-width: 768px) {
	table {
		border: none;
	}

	table caption {
		padding: 0.75rem 1rem;
		border-radius: 6px 6px 0 0;
		color: whitesmoke;
		font-size: 1.35rem;
		background-color: var(--accent-color);
	}

	table th {
		width: 1px;
		height: 1px;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}

	table tbody tr {
		margin-bottom: 2rem;
		display: block;
	}

	table td {
		font-size: 0.875rem;
		text-align: right;
		display: block;
	}

	table td:before {
		content: attr(data-label);
		font-size: 0.75rem;
		font-weight: 600;
		letter-spacing: 0.075rem;
		text-transform: uppercase;
		float: left;
		opacity: 0.5;
	}

	table td:not(:last-child) {
		border-bottom: 1px solid var(--insideBorderColor);
	}
}


    </style>
</head>
<body>
    <div class="container">
        <div class="bar opened">
            <Br><br>
            <img style="animation:move-text ease 0.5s forwards" src="../static/img/logo-black.png" height="100px" width="290px">
            <br><br><br><br>
            <div class="icon" id="home" onclick="setActiveTab(this.id)">
                <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="2.5em" width="2.5em" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 4h6v8h-6z"></path>
                    <path d="M4 16h6v4h-6z"></path>
                    <path d="M14 12h6v8h-6z"></path>
                    <path d="M14 4h6v4h-6z"></path>
                </svg>
                <span class="text">Home</span>
            </div>
            <div class="icon" id="analytics" onclick="setActiveTab(this.id)">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="2.5em" width="2.5em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 3v17a1 1 0 0 0 1 1h17v-2H5V3H3z"></path>
                    <path d="M15.293 14.707a.999.999 0 0 0 1.414 0l5-5-1.414-1.414L16 12.586l-2.293-2.293a.999.999 0 0 0-1.414 0l-5 5 1.414 1.414L13 12.414l2.293 2.293z"></path>
                </svg>
                <span class="text">Analytics</span>
            </div>
            <div class="icon" id="predict-production" onclick="setActiveTab(this.id)">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" height="2.5em" width="2.5em"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M.0022 64C.0022 46.33 14.33 32 32 32H288C305.7 32 320 46.33 320 64C320 81.67 305.7 96 288 96H231.8C241.4 110.4 248.5 126.6 252.4 144H288C305.7 144 320 158.3 320 176C320 193.7 305.7 208 288 208H252.4C239.2 266.3 190.5 311.2 130.3 318.9L274.6 421.1C288.1 432.2 292.3 452.2 282 466.6C271.8 480.1 251.8 484.3 237.4 474L13.4 314C2.083 305.1-2.716 291.5 1.529 278.2C5.774 264.1 18.09 256 32 256H112C144.8 256 173 236.3 185.3 208H32C14.33 208 .0022 193.7 .0022 176C.0022 158.3 14.33 144 32 144H185.3C173 115.7 144.8 96 112 96H32C14.33 96 .0022 81.67 .0022 64V64z" id="mainIconPathAttribute" fill="currentColor"></path></svg>
                <span class="text">Predict Production</span>
            </div>
            <div class="icon" id="prediction-history" onclick="window.location.pathname = '/get_history';">
                <svg xmlns="http://www.w3.org/2000/svg" stroke-width="0.4" stroke="currentColor" fill="currentColor" stroke-linecap="round" enable-background="new 0 0 10 10" viewBox="0 0 24 24"height="2.5em" width="2.5em">
                    <path d="M16.4,3.3C12.5,1.1,7.7,1.8,4.6,4.8V3c0-0.6-0.4-1-1-1s-1,0.4-1,1v4.5c0,0.6,0.4,1,1,1h4.5c0.6,0,1-0.4,1-1s-0.4-1-1-1H5.7C7.1,4.9,9.2,4,11.5,4c4.4,0,8,3.6,8,8s-3.6,8-8,8c-0.6,0-1,0.4-1,1s0.4,1,1,1c3.6,0,6.9-1.9,8.7-5C22.9,12.2,21.2,6.1,16.4,3.3z M11.4,8c-0.6,0-1,0.4-1,1v3c0,0.6,0.4,1,1,1h2c0.6,0,1-0.4,1-1s-0.4-1-1-1h-1V9C12.4,8.4,12,8,11.4,8z"/></svg>
                <span class="text">Prediction History</span>
            </div>
            <div class="icon signout" onclick="window.location.pathname='/logout'">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 17" height="2.5em" width="2.5em" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M12 9V7H8V5h4V3l4 3-4 3zm-2 3H6V3L2 1h8v3h1V1c0-.55-.45-1-1-1H1C.45 0 0 .45 0 1v11.38c0 .39.22.73.55.91L6 16.01V13h4c.55 0 1-.45 1-1V8h-1v4z"></path>
                </svg>
                <span class="text">Sign Out</span>
            </div>
        </div>
    </div>
    <div id="tabContent" style="background-color:skyblue;display:flex;justify-content:center;align-items:center;width: 100%;height: 100%;flex-direction: column;">

    </div>
    <script>
        var i = 0;
        var txt = 'We provide a crop production prediction system that estimates the yield for you';
        var speed = 30; 

        setActiveTab("{{ activeTab }}");
        function checkInputs() {
            var state = document.getElementById('state').value;
            var district = document.getElementById('district').value;
            var season = document.getElementById('season').value;
            var crop = document.getElementById('crop').value;
            var area = document.getElementById('area').value;
            var crop_year = document.getElementById('crop_year').value;
            if (state!="Select State" && district!="Select District" && season!="Select Season" && crop!="Select Crop" && area!="" && crop_year!="") {
                document.getElementById("PredictButton").style["animation"] = "move-text ease 0.5s forwards";
                document.getElementById("PredictButton").style["display"] = "flex";
                document.getElementById("EstimatedProduction").style["animation"] = "move-text ease 0.5s forwards";
                document.getElementById("EstimatedProduction").style["display"] = "flex";
            }
            else {
                if (document.getElementById("PredictButton").style["display"] != "none") {
                    document.getElementById("PredictButton").style["animation"] = "move-text-out ease 0.5s forwards";
                    document.getElementById("PredictButton").style["display"] = "flex";
                    document.getElementById("EstimatedProduction").style["animation"] = "move-text-out ease 0.5s forwards";
                    document.getElementById("EstimatedProduction").style["display"] = "flex";
                    
                }
                
            }
        }
        function setActiveTab(TabName) {
            document.getElementById("home").style["background"] = "#c4c8cb40";
            document.getElementById("analytics").style["background-color"] = "#c4c8cb40";
            document.getElementById("predict-production").style["background"] = "#c4c8cb40";
            document.getElementById("prediction-history").style["background"] = "#c4c8cb40";
            document.getElementById(TabName).style["background-color"] = "#bfbfbf";
            var home = `
            <div style="width:80%;height:30%;">                    
                <h1 style="font-family:'Candara';font-size: 50px;padding: 0px;margin: 0;">Let us help you</h1>
                <h2>WELCOME TO HEALTHY HARVEST</h2>
                <p id="description"></p>
                <div id="predict-button" style="padding:0px;width:70%;display:none;justify-content:space-between;">
                    <button class="button-style" onclick="setActiveTab('predict-production')">Predict Yield</button>
                    <!-- <button class="button-style" onclick="setActiveTab('prediction-history')">Prediction History</button> -->
                </div>
            </div>
            `;
            var predict_production = `        <div style="display: flex;justify-content:center;align-items:center;padding: 15px;width:90%;background-color: gainsboro;border-radius: 10px;flex-direction: column;">
            <h2>One step away from the result</h2><br>
            <form action="/predict" method="POST" style="display: flex;justify-content:center;align-items:center;flex-direction: column;width:100%;">
                <div style="display:flex;justify-content:space-around;align-items:center;width:100%;">
                    <fieldset style="border-right:none;border-bottom:none;border-radius:10px;padding: 15px;">
                    <legend>State</legend>
                    <select id="state" name="state" onchange="checkInputs();changeDistricts(this.value);" style="background-color: aliceblue;border:none;height:3em;border-radius: 10px;padding:5px;font-size:15px;width:250px;outline:none;">
                    <option value="Select State" hidden></option>
                    <option value='Andaman and Nicobar Islands'>Andaman and Nicobar Islands</option>
                    <option value='Andhra Pradesh'>Andhra Pradesh</option>
                    <option value='Arunachal Pradesh'>Arunachal Pradesh</option>
                    <option value='Assam'>Assam</option>
                    <option value='Bihar'>Bihar</option>
                    <option value='Chandigarh'>Chandigarh</option>
                    <option value='Chhattisgarh'>Chhattisgarh</option>
                    <option value='Dadra and Nagar Haveli'>Dadra and Nagar Haveli</option>
                    <option value='Goa'>Goa</option>
                    <option value='Gujarat'>Gujarat</option>
                    <option value='Haryana'>Haryana</option>
                    <option value='Himachal Pradesh'>Himachal Pradesh</option>
                    <option value='Jammu and Kashmir '>Jammu and Kashmir </option>
                    <option value='Jharkhand'>Jharkhand</option>
                    <option value='Karnataka'>Karnataka</option>
                    <option value='Kerala'>Kerala</option>
                    <option value='Madhya Pradesh'>Madhya Pradesh</option>
                    <option value='Maharashtra'>Maharashtra</option>
                    <option value='Manipur'>Manipur</option>
                    <option value='Meghalaya'>Meghalaya</option>
                    <option value='Mizoram'>Mizoram</option>
                    <option value='Nagaland'>Nagaland</option>
                    <option value='Odisha'>Odisha</option>
                    <option value='Puducherry'>Puducherry</option>
                    <option value='Punjab'>Punjab</option>
                    <option value='Rajasthan'>Rajasthan</option>
                    <option value='Sikkim'>Sikkim</option>
                    <option value='Tamil Nadu'>Tamil Nadu</option>
                    <option value='Telangana '>Telangana </option>
                    <option value='Tripura'>Tripura</option>
                    <option value='Uttar Pradesh'>Uttar Pradesh</option>
                    <option value='Uttarakhand'>Uttarakhand</option>
                    <option value='West Bengal'>West Bengal</option>
                    </select>
                    </fieldset>
                    <fieldset style="border-right:none;border-bottom:none;border-radius:10px;padding: 15px;">
                    <legend>District</legend>
                    <select id="district" required name="district" onchange="checkInputs()" style="background-color: aliceblue;border:none;height:3em;border-radius: 10px;padding:5px;font-size:15px;width:250px;outline:none;">
                        <option value="Select District" hidden></option>
                    </select>
                    </fieldset>
                    <fieldset style="border-right:none;border-bottom:none;border-radius:10px;padding: 15px;">
                        <legend>Crop Year</legend>
                        <input type="number" required id="crop_year" name="crop_year" oninput="checkInputs()" style="background-color: aliceblue;border:none;height:3em;border-radius: 10px;padding:5px;font-size:15px;width:250px;outline:none;" />
                    </fieldset>
                </div><br><br><br>
                <div style="display:flex;justify-content:space-around;align-items:center;width:100%;">
                    <fieldset style="border-right:none;border-bottom:none;border-radius:10px;padding: 15px;">
                    <legend>Season</legend>
                    <select id="season" name="season" required onchange="checkInputs()" style="background-color: aliceblue;border:none;height:3em;border-radius: 10px;padding:5px;font-size:15px;width:250px;outline:none;">
                        <option value="Select Season" hidden></option>
                        <option value="Kharif">Kharif</option>
                        <option value="Whole Year">Whole Year</option>
                        <option value="Autumn">Autumn</option>
                        <option value="Rabi">Rabi</option>
                        <option value="Summer">Summer</option>
                        <option value="Winter">Winter</option>
                    </select>
                    </fieldset>
                    <fieldset style="border-right:none;border-bottom:none;border-radius:10px;padding: 15px;">
                    <legend>Crop</legend>
                    <select name="crop" id="crop" required onchange="checkInputs()" style="background-color: aliceblue;border:none;height:3em;border-radius: 10px;padding:5px;font-size:15px;width:250px;outline:none;">
                        <option value="Select Crop" hidden></option>
                        <option value='Apple'>Apple</option>
                        <option value='Arcanut (Processed)'>Arcanut (Processed)</option>
                        <option value='Arecanut'>Arecanut</option>
                        <option value='Arhar/Tur'>Arhar/Tur</option>
                        <option value='Ash Gourd'>Ash Gourd</option>
                        <option value='Atcanut (Raw)'>Atcanut (Raw)</option>
                        <option value='Bajra'>Bajra</option>
                        <option value='Banana'>Banana</option>
                        <option value='Barley'>Barley</option>
                        <option value='Bean'>Bean</option>
                        <option value='Beans & Mutter(Vegetable)'>Beans & Mutter(Vegetable)</option>
                        <option value='Beet Root'>Beet Root</option>
                        <option value='Ber'>Ber</option>
                        <option value='Bhindi'>Bhindi</option>
                        <option value='Bitter Gourd'>Bitter Gourd</option>
                        <option value='Black pepper'>Black pepper</option>
                        <option value='Blackgram'>Blackgram</option>
                        <option value='Bottle Gourd'>Bottle Gourd</option>
                        <option value='Brinjal'>Brinjal</option>
                        <option value='Cabbage'>Cabbage</option>
                        <option value='Cardamom'>Cardamom</option>
                        <option value='Carrot'>Carrot</option>
                        <option value='Cashewnut Processed'>Cashewnut Processed</option>
                        <option value='Cashewnut Raw'>Cashewnut Raw</option>
                        <option value='Cashewnut'>Cashewnut</option>
                        <option value='Castor seed'>Castor seed</option>
                        <option value='Cauliflower'>Cauliflower</option>
                        <option value='Citrus Fruit'>Citrus Fruit</option>
                        <option value='Coconut '>Coconut </option>
                        <option value='Coffee'>Coffee</option>
                        <option value='Colocosia'>Colocosia</option>
                        <option value='Cond-spcs other'>Cond-spcs other</option>
                        <option value='Coriander'>Coriander</option>
                        <option value='Cotton(lint)'>Cotton(lint)</option>
                        <option value='Cowpea(Lobia)'>Cowpea(Lobia)</option>
                        <option value='Cucumber'>Cucumber</option>
                        <option value='Drum Stick'>Drum Stick</option>
                        <option value='Dry chillies'>Dry chillies</option>
                        <option value='Dry ginger'>Dry ginger</option>
                        <option value='Garlic'>Garlic</option>
                        <option value='Ginger'>Ginger</option>
                        <option value='Gram'>Gram</option>
                        <option value='Grapes'>Grapes</option>
                        <option value='Groundnut'>Groundnut</option>
                        <option value='Guar seed'>Guar seed</option>
                        <option value='Horse-gram'>Horse-gram</option>
                        <option value='Jack Fruit'>Jack Fruit</option>
                        <option value='Jobster'>Jobster</option>
                        <option value='Jowar'>Jowar</option>
                        <option value='Jute & mesta'>Jute & mesta</option>
                        <option value='Jute'>Jute</option>
                        <option value='Kapas'>Kapas</option>
                        <option value='Khesari'>Khesari</option>
                        <option value='Korra'>Korra</option>
                        <option value='Lab-Lab'>Lab-Lab</option>
                        <option value='Lemon'>Lemon</option>
                        <option value='Lentil'>Lentil</option>
                        <option value='Linseed'>Linseed</option>
                        <option value='Litchi'>Litchi</option>
                        <option value='Maize'>Maize</option>
                        <option value='Mango'>Mango</option>
                        <option value='Masoor'>Masoor</option>
                        <option value='Mesta'>Mesta</option>
                        <option value='Moong(Green Gram)'>Moong(Green Gram)</option>
                        <option value='Moth'>Moth</option>
                        <option value='Niger seed'>Niger seed</option>
                        <option value='Oilseeds total'>Oilseeds total</option>
                        <option value='Onion'>Onion</option>
                        <option value='Orange'>Orange</option>
                        <option value='Other  Rabi pulses'>Other  Rabi pulses</option>
                        <option value='Other Cereals & Millets'>Other Cereals & Millets</option>
                        <option value='Other Citrus Fruit'>Other Citrus Fruit</option>
                        <option value='Other Dry Fruit'>Other Dry Fruit</option>
                        <option value='Other Fibres'>Other Fibres</option>
                        <option value='Other Fresh Fruits'>Other Fresh Fruits</option>
                        <option value='Other Kharif pulses'>Other Kharif pulses</option>
                        <option value='Other Misc. Pulses'>Other Misc. Pulses</option>
                        <option value='Other Oilseeds'>Other Oilseeds</option>
                        <option value='Other Vegetables'>Other Vegetables</option>
                        <option value='Paddy'>Paddy</option>
                        <option value='Papaya'>Papaya</option>
                        <option value='Peach'>Peach</option>
                        <option value='Pear'>Pear</option>
                        <option value='Peas  (vegetable)'>Peas  (vegetable)</option>
                        <option value='Peas & beans (Pulses)'>Peas & beans (Pulses)</option>
                        <option value='Perilla'>Perilla</option>
                        <option value='Pineapple'>Pineapple</option>
                        <option value='Plums'>Plums</option>
                        <option value='Pome Fruit'>Pome Fruit</option>
                        <option value='Pome Granet'>Pome Granet</option>
                        <option value='Potato'>Potato</option>
                        <option value='Pulses total'>Pulses total</option>
                        <option value='Pump Kin'>Pump Kin</option>
                        <option value='Ragi'>Ragi</option>
                        <option value='Rajmash Kholar'>Rajmash Kholar</option>
                        <option value='Rapeseed &Mustard'>Rapeseed &Mustard</option>
                        <option value='Redish'>Redish</option>
                        <option value='Ribed Guard'>Ribed Guard</option>
                        <option value='Rice'>Rice</option>
                        <option value='Ricebean (nagadal)'>Ricebean (nagadal)</option>
                        <option value='Rubber'>Rubber</option>
                        <option value='Safflower'>Safflower</option>
                        <option value='Samai'>Samai</option>
                        <option value='Sannhamp'>Sannhamp</option>
                        <option value='Sapota'>Sapota</option>
                        <option value='Sesamum'>Sesamum</option>
                        <option value='Small millets'>Small millets</option>
                        <option value='Snak Guard'>Snak Guard</option>
                        <option value='Soyabean'>Soyabean</option>
                        <option value='Sugarcane'>Sugarcane</option>
                        <option value='Sunflower'>Sunflower</option>
                        <option value='Sweet potato'>Sweet potato</option>
                        <option value='Tapioca'>Tapioca</option>
                        <option value='Tea'>Tea</option>
                        <option value='Tobacco'>Tobacco</option>
                        <option value='Tomato'>Tomato</option>
                        <option value='Total foodgrain'>Total foodgrain</option>
                        <option value='Turmeric'>Turmeric</option>
                        <option value='Turnip'>Turnip</option>
                        <option value='Urad'>Urad</option>
                        <option value='Varagu'>Varagu</option>
                        <option value='Water Melon'>Water Melon</option>
                        <option value='Wheat'>Wheat</option>
                        <option value='Yam'>Yam</option>
                    </select>  
                    </fieldset>
                    <fieldset style="border-right:none;border-bottom:none;border-radius:10px;padding: 15px;">
                        <legend>Area (in Hectares)</legend>
                        <input type="number" required id="area" name="area" step="any" oninput="checkInputs()" style="background-color: aliceblue;border:none;height:3em;border-radius: 10px;padding:5px;font-size:15px;width:250px;outline:none;"/>
                    </fieldset>
                </div><br><br><br>
                <div id="finalBox" style="height:70px;display:flex;justify-content:space-around;align-items:center;width:80%;">
                    <fieldset id="EstimatedProduction" style="display:none;border-right:none;border-bottom:none;border-radius:10px;padding: 15px;">
                        <legend>Estimated Yield(In Tons)</legend>
                        <input type="number" required id="estimated" name="estimated" step="any" style="background-color: aliceblue;border:none;height:3em;border-radius: 10px;padding:5px;font-size:15px;width:250px;outline:none;"/>
                    </fieldset>
                    <div id="PredictButton" style="width:40%;display:none;justify-content:center;align-items:center;">
                        <button style="font-size:15px;color:white;cursor:pointer;background-color: #017aff;border:1px solid white;height:50px;width:120px;border-radius: 5px;" onclick="validateInputs()">Get Results</button>
                    </div>
                </div><br>
            </form>
        </div><br>
        <div id="Output" style="height:10%;width:100%;display:flex;align-items:center;justify-content:space-around;font-size:22px;">
            <div>
                {% if Estimated_Production %}
                Estimated Result: <b>{{ Estimated_Production }}</b>&nbsp;Metric Tons
                {% endif %}
            </div>
            <div>
                {% if Predicted_Production %}
                Predicted Result:&nbsp;<b>{{ Predicted_Production }}</b>&nbsp;Metric Tons
                {% endif %}
            </div>
        </div>
        <div style="width:100%;justify-content:center;display:flex;align-items:center;font-size:22px;">
                {% if profit_or_loss %}
                Result: <b>{{ profit_or_loss }}</b>
                {% endif %}
            </div>`;
        var analytics = '';
        var prediction_history = `{% if history %} 
        <div style="display: flex;justify-content:center;align-items:center;padding: 15px;width:100%;border-radius: 10px;flex-direction: column;" ng-app="myApp" ng-controller="myController">
        <div style="display:flex;width:80%;align-items:center;justify-content:space-around;">
            <input type="text" style="border: 1px solid black;height:40px;width:150px;background:transparent;color:black;font-size:15px;" ng-model="inp_state" placeholder="Filter State"/>
            <input type="text" style="border: 1px solid black;height:40px;width:150px;background:transparent;color:black;font-size:15px;" ng-model="inp_district" placeholder="Filter District"/>
            <input type="text" style="border: 1px solid black;height:40px;width:150px;background:transparent;color:black;font-size:15px;" ng-model="inp_crop_year" placeholder="Filter Crop Year"/>
            <input type="text" style="border: 1px solid black;height:40px;width:150px;background:transparent;color:black;font-size:15px;" ng-model="inp_season" placeholder="Filter Season"/>
            <input type="text" style="border: 1px solid black;height:40px;width:150px;background:transparent;color:black;font-size:15px;" ng-model="inp_crop" placeholder="Filter Crop"/>
        </div><br>
        <table cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td>
            <table cellspacing="0" cellpadding="0" border="1">
                <tr style='background: linear-gradient(to right, #0f0c29, #302b63, #24243e);color:white;'>
                    <th style="cursor: pointer;" ng-click="orderfn('state')">State</th>
                    <th style="cursor: pointer;" ng-click="orderfn('district')">District</th>
                    <th style="cursor: pointer;" ng-click="orderfn('crop_year')">Crop Year</th>
                    <th style="cursor: pointer;" ng-click="orderfn('season')">Season</th>
                    <th style="cursor: pointer;" ng-click="orderfn('crop')">Crop</th>
                    <th style="cursor: pointer;" ng-click="orderfn('area')">Area</th>
                    <th style="cursor: pointer;" ng-click="orderfn('production')">Production(In Tons)</th>
                </tr>
            </table>
            </td>
        </tr>
        <tr>
            <td>
            <div style="width:100%; height:500px; overflow:auto;">
            <table>
            </tr>
            <tr ng-repeat = "result in history_results | filter: {state: inp_state} | filter: {district: inp_district} | filter: {crop_year: inp_crop_year} | filter: {season: inp_season} | filter: {crop: inp_crop} | orderBy: cate">
            <td>[[result.state]]</td>
            <td>[[result.district]]</td>
            <td>[[result.crop_year]]</td>
            <td>[[result.season]]</td>
            <td>[[result.crop]]</td>
            <td>[[result.area]]</td>
            <td>[[result.production]]</td>
            </tr>
            </table>
        </div>
      </div>
            {% else %}
            <h2>No Prediction history found</h2>
            {% endif %}`;
            if (TabName=="home") {
                i = 0;
                document.getElementById('tabContent').style["background"] = 'radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% )';
                document.getElementById('tabContent').innerHTML = home;
                typeWriter();
            }
            if (TabName=="analytics") {
                document.getElementById('tabContent').style["background"] = "skyblue";
                document.getElementById('tabContent').innerHTML = analytics;
            }
            if (TabName=="predict-production") {
                document.getElementById('tabContent').style["background"] = "skyblue";
                document.getElementById('tabContent').innerHTML = predict_production;
            }
            if (TabName=="prediction-history") { 
                document.getElementById('tabContent').style["background"] = "skyblue";
                document.getElementById('tabContent').innerHTML = prediction_history;
                var history_results = '{{history | safe }}';
                if (history_results=="") {
                    console.log('empty');
                }
                else {
                    history_results = JSON.parse(history_results);
                    var app = angular.module("myApp",[]);
                    app.config(['$interpolateProvider', function($interpolateProvider) {
                        $interpolateProvider.startSymbol('[[');
                        $interpolateProvider.endSymbol(']]');
                    }]);
                    app.controller("myController",function($scope) {
                        $scope.history_results = history_results["results"];
                        console.log($scope.history_results);
                        $scope.orderfn = function(x1) {
                            console.log(x1);
                            if ($scope.cate==x1) {
                                if ($scope.cate[0]=='-') $scope.cate = $scope.cate.slice(1);
                                else $scope.cate = '-'+$scope.cate;
                            }
                            else {
                                $scope.cate = x1;
                            }
                        }
                    });
                }
            }
        }

        function validateInputs() {
            var area = parseInt(document.getElementById('area').value);
            var crop_year = parseInt(document.getElementById('crop_year').value);
            if (area<=0) {
                alert("Area should be greater than 0");
                event.preventDefault();
            }
            else if (crop_year<2000) {
                alert("Crop Year cannot be less than 2000");
                event.preventDefault();
            }
        }

        function typeWriter() {
            if (i < txt.length) {
                document.getElementById("description").innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, speed);
            }
            else {
                document.getElementById("predict-button").style["animation"] = "rightFade 2s forwards";
                document.getElementById("predict-button").style["display"] = "flex";
            }
        }

        function changeDistricts(state) {
            if (state=='Select State') return;
            var states = {
                AndamanandNicobarIslands: ['NICOBARS', 'NORTH AND MIDDLE ANDAMAN', 'SOUTH ANDAMANS'] ,
                AndhraPradesh: ['ANANTAPUR', 'CHITTOOR', 'EAST GODAVARI', 'GUNTUR', 'KADAPA', 'KRISHNA', 'KURNOOL', 'PRAKASAM', 'SPSR NELLORE', 'SRIKAKULAM', 'VISAKHAPATANAM', 'VIZIANAGARAM', 'WEST GODAVARI'] ,
                ArunachalPradesh: ['ANJAW', 'CHANGLANG', 'DIBANG VALLEY', 'EAST KAMENG', 'EAST SIANG', 'KURUNG KUMEY', 'LOHIT', 'LONGDING', 'LOWER DIBANG VALLEY', 'LOWER SUBANSIRI', 'NAMSAI', 'PAPUM PARE', 'TAWANG', 'TIRAP', 'UPPER SIANG', 'UPPER SUBANSIRI', 'WEST KAMENG', 'WEST SIANG'] ,
                Assam: ['BAKSA', 'BARPETA', 'BONGAIGAON', 'CACHAR', 'CHIRANG', 'DARRANG', 'DHEMAJI', 'DHUBRI', 'DIBRUGARH', 'DIMA HASAO', 'GOALPARA', 'GOLAGHAT', 'HAILAKANDI', 'JORHAT', 'KAMRUP', 'KAMRUP METRO', 'KARBI ANGLONG', 'KARIMGANJ', 'KOKRAJHAR', 'LAKHIMPUR', 'MARIGAON', 'NAGAON', 'NALBARI', 'SIVASAGAR', 'SONITPUR', 'TINSUKIA', 'UDALGURI'] ,
                Bihar: ['ARARIA', 'ARWAL', 'AURANGABAD', 'BANKA', 'BEGUSARAI', 'BHAGALPUR', 'BHOJPUR', 'BUXAR', 'DARBHANGA', 'GAYA', 'GOPALGANJ', 'JAMUI', 'JEHANABAD', 'KAIMUR (BHABUA)', 'KATIHAR', 'KHAGARIA', 'KISHANGANJ', 'LAKHISARAI', 'MADHEPURA', 'MADHUBANI', 'MUNGER', 'MUZAFFARPUR', 'NALANDA', 'NAWADA', 'PASHCHIM CHAMPARAN', 'PATNA', 'PURBI CHAMPARAN', 'PURNIA', 'ROHTAS', 'SAHARSA', 'SAMASTIPUR', 'SARAN', 'SHEIKHPURA', 'SHEOHAR', 'SITAMARHI', 'SIWAN', 'SUPAUL', 'VAISHALI'] ,
                Chandigarh: ['CHANDIGARH'] ,
                Chhattisgarh: ['BALOD', 'BALODA BAZAR', 'BALRAMPUR', 'BASTAR', 'BEMETARA', 'BIJAPUR', 'BILASPUR', 'DANTEWADA', 'DHAMTARI', 'DURG', 'GARIYABAND', 'JANJGIR-CHAMPA', 'JASHPUR', 'KABIRDHAM', 'KANKER', 'KONDAGAON', 'KORBA', 'KOREA', 'MAHASAMUND', 'MUNGELI', 'NARAYANPUR', 'RAIGARH', 'RAIPUR', 'RAJNANDGAON', 'SUKMA', 'SURAJPUR', 'SURGUJA'] ,
                DadraandNagarHaveli: ['DADRA AND NAGAR HAVELI'] ,
                Goa: ['NORTH GOA', 'SOUTH GOA'] ,
                Gujarat: ['AHMADABAD', 'AMRELI', 'ANAND', 'BANAS KANTHA', 'BHARUCH', 'BHAVNAGAR', 'DANG', 'DOHAD', 'GANDHINAGAR', 'JAMNAGAR', 'JUNAGADH', 'KACHCHH', 'KHEDA', 'MAHESANA', 'NARMADA', 'NAVSARI', 'PANCH MAHALS', 'PATAN', 'PORBANDAR', 'RAJKOT', 'SABAR KANTHA', 'SURAT', 'SURENDRANAGAR', 'TAPI', 'VADODARA', 'VALSAD'] ,
                Haryana: ['AMBALA', 'BHIWANI', 'FARIDABAD', 'FATEHABAD', 'GURGAON', 'HISAR', 'JHAJJAR', 'JIND', 'KAITHAL', 'KARNAL', 'KURUKSHETRA', 'MAHENDRAGARH', 'MEWAT', 'PALWAL', 'PANCHKULA', 'PANIPAT', 'REWARI', 'ROHTAK', 'SIRSA', 'SONIPAT', 'YAMUNANAGAR'] ,
                HimachalPradesh: ['BILASPUR', 'CHAMBA', 'HAMIRPUR', 'KANGRA', 'KINNAUR', 'KULLU', 'LAHUL AND SPITI', 'MANDI', 'SHIMLA', 'SIRMAUR', 'SOLAN', 'UNA'] ,
                JammuandKashmir : ['ANANTNAG', 'BADGAM', 'BANDIPORA', 'BARAMULLA', 'DODA', 'GANDERBAL', 'JAMMU', 'KARGIL', 'KATHUA', 'KISHTWAR', 'KULGAM', 'KUPWARA', 'LEH LADAKH', 'POONCH', 'PULWAMA', 'RAJAURI', 'RAMBAN', 'REASI', 'SAMBA', 'SHOPIAN', 'SRINAGAR', 'UDHAMPUR'] ,
                Jharkhand: ['BOKARO', 'CHATRA', 'DEOGHAR', 'DHANBAD', 'DUMKA', 'EAST SINGHBUM', 'GARHWA', 'GIRIDIH', 'GODDA', 'GUMLA', 'HAZARIBAGH', 'JAMTARA', 'KHUNTI', 'KODERMA', 'LATEHAR', 'LOHARDAGA', 'PAKUR', 'PALAMU', 'RAMGARH', 'RANCHI', 'SAHEBGANJ', 'SARAIKELA KHARSAWAN', 'SIMDEGA', 'WEST SINGHBHUM'] ,
                Karnataka: ['BAGALKOT', 'BANGALORE RURAL', 'BELGAUM', 'BELLARY', 'BENGALURU URBAN', 'BIDAR', 'BIJAPUR', 'CHAMARAJANAGAR', 'CHIKBALLAPUR', 'CHIKMAGALUR', 'CHITRADURGA', 'DAKSHIN KANNAD', 'DAVANGERE', 'DHARWAD', 'GADAG', 'GULBARGA', 'HASSAN', 'HAVERI', 'KODAGU', 'KOLAR', 'KOPPAL', 'MANDYA', 'MYSORE', 'RAICHUR', 'RAMANAGARA', 'SHIMOGA', 'TUMKUR', 'UDUPI', 'UTTAR KANNAD', 'YADGIR'] ,
                Kerala: ['ALAPPUZHA', 'ERNAKULAM', 'IDUKKI', 'KANNUR', 'KASARAGOD', 'KOLLAM', 'KOTTAYAM', 'KOZHIKODE', 'MALAPPURAM', 'PALAKKAD', 'PATHANAMTHITTA', 'THIRUVANANTHAPURAM', 'THRISSUR', 'WAYANAD'] ,
                MadhyaPradesh: ['AGAR MALWA', 'ALIRAJPUR', 'ANUPPUR', 'ASHOKNAGAR', 'BALAGHAT', 'BARWANI', 'BETUL', 'BHIND', 'BHOPAL', 'BURHANPUR', 'CHHATARPUR', 'CHHINDWARA', 'DAMOH', 'DATIA', 'DEWAS', 'DHAR', 'DINDORI', 'GUNA', 'GWALIOR', 'HARDA', 'HOSHANGABAD', 'INDORE', 'JABALPUR', 'JHABUA', 'KATNI', 'KHANDWA', 'KHARGONE', 'MANDLA', 'MANDSAUR', 'MORENA', 'NARSINGHPUR', 'NEEMUCH', 'PANNA', 'RAISEN', 'RAJGARH', 'RATLAM', 'REWA', 'SAGAR', 'SATNA', 'SEHORE', 'SEONI', 'SHAHDOL', 'SHAJAPUR', 'SHEOPUR', 'SHIVPURI', 'SIDHI', 'SINGRAULI', 'TIKAMGARH', 'UJJAIN', 'UMARIA', 'VIDISHA'] ,
                Maharashtra: ['AHMEDNAGAR', 'AKOLA', 'AMRAVATI', 'AURANGABAD', 'BEED', 'BHANDARA', 'BULDHANA', 'CHANDRAPUR', 'DHULE', 'GADCHIROLI', 'GONDIA', 'HINGOLI', 'JALGAON', 'JALNA', 'KOLHAPUR', 'LATUR', 'MUMBAI', 'NAGPUR', 'NANDED', 'NANDURBAR', 'NASHIK', 'OSMANABAD', 'PALGHAR', 'PARBHANI', 'PUNE', 'RAIGAD', 'RATNAGIRI', 'SANGLI', 'SATARA', 'SINDHUDURG', 'SOLAPUR', 'THANE', 'WARDHA', 'WASHIM', 'YAVATMAL'] ,
                Manipur: ['BISHNUPUR', 'CHANDEL', 'CHURACHANDPUR', 'IMPHAL EAST', 'IMPHAL WEST', 'SENAPATI', 'TAMENGLONG', 'THOUBAL', 'UKHRUL'] ,
                Meghalaya: ['EAST GARO HILLS', 'EAST JAINTIA HILLS', 'EAST KHASI HILLS', 'NORTH GARO HILLS', 'RI BHOI', 'SOUTH GARO HILLS', 'SOUTH WEST GARO HILLS', 'SOUTH WEST KHASI HILLS', 'WEST GARO HILLS', 'WEST JAINTIA HILLS', 'WEST KHASI HILLS'] ,
                Mizoram: ['AIZAWL', 'CHAMPHAI', 'KOLASIB', 'LAWNGTLAI', 'LUNGLEI', 'MAMIT', 'SAIHA', 'SERCHHIP'] ,
                Nagaland: ['DIMAPUR', 'KIPHIRE', 'KOHIMA', 'LONGLENG', 'MOKOKCHUNG', 'MON', 'PEREN', 'PHEK', 'TUENSANG', 'WOKHA', 'ZUNHEBOTO'] ,
                Odisha: ['ANUGUL', 'BALANGIR', 'BALESHWAR', 'BARGARH', 'BHADRAK', 'BOUDH', 'CUTTACK', 'DEOGARH', 'DHENKANAL', 'GAJAPATI', 'GANJAM', 'JAGATSINGHAPUR', 'JAJAPUR', 'JHARSUGUDA', 'KALAHANDI', 'KANDHAMAL', 'KENDRAPARA', 'KENDUJHAR', 'KHORDHA', 'KORAPUT', 'MALKANGIRI', 'MAYURBHANJ', 'NABARANGPUR', 'NAYAGARH', 'NUAPADA', 'PURI', 'RAYAGADA', 'SAMBALPUR', 'SONEPUR', 'SUNDARGARH'] ,
                Puducherry: ['KARAIKAL', 'MAHE', 'PONDICHERRY', 'YANAM'] ,
                Punjab: ['AMRITSAR', 'BARNALA', 'BATHINDA', 'FARIDKOT', 'FATEHGARH SAHIB', 'FAZILKA', 'FIROZEPUR', 'GURDASPUR', 'HOSHIARPUR', 'JALANDHAR', 'KAPURTHALA', 'LUDHIANA', 'MANSA', 'MOGA', 'MUKTSAR', 'NAWANSHAHR', 'PATHANKOT', 'PATIALA', 'RUPNAGAR', 'S.A.S NAGAR', 'SANGRUR', 'TARN TARAN'] ,
                Rajasthan: ['AJMER', 'ALWAR', 'BANSWARA', 'BARAN', 'BARMER', 'BHARATPUR', 'BHILWARA', 'BIKANER', 'BUNDI', 'CHITTORGARH', 'CHURU', 'DAUSA', 'DHOLPUR', 'DUNGARPUR', 'GANGANAGAR', 'HANUMANGARH', 'JAIPUR', 'JAISALMER', 'JALORE', 'JHALAWAR', 'JHUNJHUNU', 'JODHPUR', 'KARAULI', 'KOTA', 'NAGAUR', 'PALI', 'PRATAPGARH', 'RAJSAMAND', 'SAWAI MADHOPUR', 'SIKAR', 'SIROHI', 'TONK', 'UDAIPUR'] ,
                Sikkim: ['EAST DISTRICT', 'NORTH DISTRICT', 'SOUTH DISTRICT', 'WEST DISTRICT'] ,
                TamilNadu: ['ARIYALUR', 'COIMBATORE', 'CUDDALORE', 'DHARMAPURI', 'DINDIGUL', 'ERODE', 'KANCHIPURAM', 'KANNIYAKUMARI', 'KARUR', 'KRISHNAGIRI', 'MADURAI', 'NAGAPATTINAM', 'NAMAKKAL', 'PERAMBALUR', 'PUDUKKOTTAI', 'RAMANATHAPURAM', 'SALEM', 'SIVAGANGA', 'THANJAVUR', 'THE NILGIRIS', 'THENI', 'THIRUVALLUR', 'THIRUVARUR', 'TIRUCHIRAPPALLI', 'TIRUNELVELI', 'TIRUPPUR', 'TIRUVANNAMALAI', 'TUTICORIN', 'VELLORE', 'VILLUPURAM', 'VIRUDHUNAGAR'] ,
                Telangana : ['ADILABAD', 'HYDERABAD', 'KARIMNAGAR', 'KHAMMAM', 'MAHBUBNAGAR', 'MEDAK', 'NALGONDA', 'NIZAMABAD', 'RANGAREDDI', 'WARANGAL'] ,
                Tripura: ['DHALAI', 'GOMATI', 'KHOWAI', 'NORTH TRIPURA', 'SEPAHIJALA', 'SOUTH TRIPURA', 'UNAKOTI', 'WEST TRIPURA'] ,
                UttarPradesh: ['AGRA', 'ALIGARH', 'ALLAHABAD', 'AMBEDKAR NAGAR', 'AMETHI', 'AMROHA', 'AURAIYA', 'AZAMGARH', 'BAGHPAT', 'BAHRAICH', 'BALLIA', 'BALRAMPUR', 'BANDA', 'BARABANKI', 'BAREILLY', 'BASTI', 'BIJNOR', 'BUDAUN', 'BULANDSHAHR', 'CHANDAULI', 'CHITRAKOOT', 'DEORIA', 'ETAH', 'ETAWAH', 'FAIZABAD', 'FARRUKHABAD', 'FATEHPUR', 'FIROZABAD', 'GAUTAM BUDDHA NAGAR', 'GHAZIABAD', 'GHAZIPUR', 'GONDA', 'GORAKHPUR', 'HAMIRPUR', 'HAPUR', 'HARDOI', 'HATHRAS', 'JALAUN', 'JAUNPUR', 'JHANSI', 'KANNAUJ', 'KANPUR DEHAT', 'KANPUR NAGAR', 'KASGANJ', 'KAUSHAMBI', 'KHERI', 'KUSHI NAGAR', 'LALITPUR', 'LUCKNOW', 'MAHARAJGANJ', 'MAHOBA', 'MAINPURI', 'MATHURA', 'MAU', 'MEERUT', 'MIRZAPUR', 'MORADABAD', 'MUZAFFARNAGAR', 'PILIBHIT', 'PRATAPGARH', 'RAE BARELI', 'RAMPUR', 'SAHARANPUR', 'SAMBHAL', 'SANT KABEER NAGAR', 'SANT RAVIDAS NAGAR', 'SHAHJAHANPUR', 'SHAMLI', 'SHRAVASTI', 'SIDDHARTH NAGAR', 'SITAPUR', 'SONBHADRA', 'SULTANPUR', 'UNNAO', 'VARANASI'] ,
                Uttarakhand: ['ALMORA', 'BAGESHWAR', 'CHAMOLI', 'CHAMPAWAT', 'DEHRADUN', 'HARIDWAR', 'NAINITAL', 'PAURI GARHWAL', 'PITHORAGARH', 'RUDRA PRAYAG', 'TEHRI GARHWAL', 'UDAM SINGH NAGAR', 'UTTAR KASHI'] ,
                WestBengal: ['24 PARAGANAS NORTH', '24 PARAGANAS SOUTH', 'BANKURA', 'BARDHAMAN', 'BIRBHUM', 'COOCHBEHAR', 'DARJEELING', 'DINAJPUR DAKSHIN', 'DINAJPUR UTTAR', 'HOOGHLY', 'HOWRAH', 'JALPAIGURI', 'MALDAH', 'MEDINIPUR EAST', 'MEDINIPUR WEST', 'MURSHIDABAD', 'NADIA', 'PURULIA']
            }
            var districts = states[state.replaceAll(" ","")];
            var contents = `<option value="Select District" hidden></option><br>`;
            for (var i=0;i<districts.length;i++) {
                contents += `<option value="${districts[i]}">${districts[i]}</option><br>`;
            }
            document.getElementById("district").innerHTML = contents;
        }
    </script>
</body>
</html>